<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471624574032-o494725ki4dn1c787ot2d4frj8isrngk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471624574032-o494725ki4dn1c787ot2d4frj8isrngk</string>
	<key>API_KEY</key>
	<string>AIzaSyCsPlUYAQueWKqvxeP1hxjZ75B_CeXUh9g</string>
	<key>GCM_SENDER_ID</key>
	<string>471624574032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dildaezgi.firebaseRealtimeDBExample</string>
	<key>PROJECT_ID</key>
	<string>fir-realtimedbexample-9cc08</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-realtimedbexample-9cc08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471624574032:ios:7ee288720ab52c48bc9d55</string>
</dict>
</plist>